<mat-sidenav-container>
  <mat-sidenav opened [fixedInViewport]="true" 
              [mode]="'side'"
              [fixedTopGap]="50">
    <mat-nav-list>
      <a mat-list-item href="#">
          <mat-icon>home</mat-icon>
          <span class="list-item">Home</span>
      </a>
      <a mat-list-item href="#">
          <mat-icon>search</mat-icon>
          <span class="list-item">Search</span>
      </a>
      <a mat-list-item href="#">
          <mat-icon>library_music</mat-icon>
          <span class="list-item">Your Library</span>
      </a>
      <div style="margin-top: 40px;">
        <a mat-list-item href="#">
          <mat-icon>library_add</mat-icon>
          <span class="list-item">Create Playlist</span>
        </a>
        <a mat-list-item href="#">
        <mat-icon>favorite</mat-icon>
        <span class="list-item">Liked Songs</span>
        </a>
      </div>
      <div [ngClass]="appropriateClass">
        <mat-grid-list cols="2" rowHeight="50px">
          <mat-grid-tile>
            <a href="#" class="bottom-list-links">Legal</a>
          </mat-grid-tile>
          <mat-grid-tile>
            <a href="#" class="bottom-list-links">Privacy Policy</a>
          </mat-grid-tile>
          <mat-grid-tile>
            <a href="#" class="bottom-list-links">About us</a>
          </mat-grid-tile>
          <mat-grid-tile>
            <a href="#" class="bottom-list-links">Cookies</a>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main-component></app-main-component>
  </mat-sidenav-content>
</mat-sidenav-container>